*
{
    margin: 0;
    font-family: sans-serif;
}

body
{
    box-sizing: border-box;
    min-width: 300px;
    background-color: black;
}

em,strong
{
    font-style: normal;
}

.header-menu
{
    background-color: rgba(212, 212, 212, 0.344);
    padding: 20px;
}

nav
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-left: 10px;
}

.bar-nav
{
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    box-sizing: border-box;
    color: rgb(179, 174, 174);
}

.bar-nav:hover
{
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
}

.lorem
{
    color: rgba(255, 254, 254, 0.892);
    padding: 80px;
    line-height: 1.5em;
    text-align: justify;
}

#lorem-title
{
    color: white;
    margin-bottom: 15px;
}

strong.identity
{
    font-style: normal;
}

form
{
    padding: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
}

.mesinfos
{
    padding: 50px;
    display: flex;
    gap: 20px;
}

#button1,#button2
{
    padding: 10px;
    width: 150px;
    border: 2px solid none;
    background-color: grey;
    text-align: center;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    
}

#button1:hover,#button2:hover
{
    padding: 10px;
    width: 150px;
    border: 2px solid none;
    background-color: rgb(174, 180, 244);
    text-align: center;
    border-radius: 7px;
    text-decoration: none;
    color: grey;
    
}

main
{
    color: black;
    text-decoration: none;
    padding: 50px 50px 30px 50px;
    background-color: rgba(254, 254, 254, 0.864);
    line-height: 1.7em;
    font-family:monospace,sans-serif;
}

h2#a-propos
{
    margin-bottom: 40px;
    text-align: center;
    color: rgb(102, 101, 101);
}

.header-profil
{
    width: 250px;
    margin: auto;
}

#monprofil
{
    clip-path: circle(50%);
}

figcaption
{
    text-align: center;
    color: rgba(11, 10, 38, 0.464);
    margin:10px 0 30px;
    font-size: 2em;
}

.realisation,.annee-etudes,.langues-parlees
{
    border-left: 5px solid gray;
    margin: 25px 15px;
}

.section-etudes
{
    width: 300px;
    float: left;
}

.section-langues
{
    padding-bottom: 30px;
    width: 385px;
    float: right;
}

.section-langues,.section-etudes
{
    box-sizing: border-box;
    margin-top: 40px;
}

.etudes,.langues,.compet
{
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: lighter;
    padding-left: 40px;
}

.etudes,.langues
{
    background-image: url(images/Burner_32px.png);
    background-repeat: no-repeat;
    background-position: left;
}


#perso,.info-formation
{
    width: 70vw;
    margin: auto;
    text-align: justify;
}

.bare-sous
{
    height: 10px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    clear: both;
    background-color: white;
    border-radius: 5px;

}

.contact
{
    width: 60px;
}

.competences
{
    width: 300px;
    height: 270px;
    padding: 20px;
    background-color: rgb(197, 193, 193);
    border-radius: 10px;
    line-height: 4em;
    margin: auto;
    box-shadow: 0 0 30px black;
    position: relative;
    bottom: 10px;
}

.competences:active
{
    width: 300px;
    height: 270px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    line-height: 4em;
    margin: auto;
    box-shadow: 0 0 30px black;
}

.vb,.html,.css
{
   text-transform: uppercase;
   font-weight: bold;
   color:rgb(60, 60, 60);
}

.vb:hover,.html:hover,.css:hover
{
   text-transform: uppercase;
   font-weight: bold;
   color:black;
}

meter
{
   width: 120px;
   margin: auto;
}


.compet
{
    text-align: center;
}

.compet
{
    background-image: url(images/Experienced_32px.png);
    background-repeat: no-repeat;
    background-position: left;
}

#unique
{
    padding: 20px;
    color: rgb(207, 200, 200);
    font-size: 1.5em;
}


footer#footer
{
    padding: 20px;

}

.nous
{
    color: white;
    text-decoration: none;
}

.gallery
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px;
}

.reseau
{
    width: 50px;
    border-radius:20px;
}

.reseau-autre
{
    width: 60px;
    height: 50px;
    border-radius: 20px;
}

.copyright
{
    text-align: center;
    color: rgb(244, 239, 239);
    font-size: 1.1em;
}